# Mobile Environment Variables
# If running web or simulator on localhost:
EXPO_PUBLIC_API_URL=http://localhost:5000/api/v1

# If running on Android Emulator:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:5000/api/v1

# If running on physical phone via Expo Go, replace with your local WiFi IP:
# EXPO_PUBLIC_API_URL=http://192.168.1.X:5000/api/v1
